services:
  musicgen_server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: musicgen_server
    command: [ "python3", "-m", "generic_ai_server_client.server", "--port", "8190" ]
    gpus: all
    environment:
      PYTHONPATH: /app
      NVIDIA_VISIBLE_DEVICES: GPU-bfe56291-e722-318b-fbc0-526eb8393bf3
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    networks:
      - services_network
      - dev_services_network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "/app/health-check.sh" ]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 10s
    user: "1000:1000"
    tmpfs:
      - /tmp:rw,exec,nosuid,size=10g
      - /var/tmp:rw,exec,nosuid,size=10g
    security_opt:
      - no-new-privileges:true

networks:
  services_network:
    external: true
    name: services_network
  dev_services_network:
    external: true
    name: dev_services_network
